@import 'nib'


html, body, .main-wrapper
	height 100%

body
	color white
	font-family 'Roboto', sans-serif
	font-weight 300
	font-size 18px
	overflow hidden

.main-wrapper
	position relative
	background black


.main-wrapper-bg
	absolute top 0 left 0
	width 100%
	height 100%
	z-index 1
	background-size cover
	background-position center center
	background-image url(../img/bg-cosmos.jpg)



.main-wrapper-mask
	absolute top 0 left 0
	width 100%
	height 100%
	z-index 2
	background fade-out(black, 60%)
	box-shadow inset 0 0 100px fade-out(black, 20%)

.my-canvas
	absolute top 0 left 0
	z-index 3

.main-container
	z-index 4
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)

.main-title
	font-weight 100
	margin-top 0
	font-size 37px
	margin-bottom 25px
	text-shadow 0 2px 1px fade-out(black, 50%)

.row-main
	margin-left -45px
	margin-right -45px
	> .col
		padding-left 45px
		padding-right 45px


.form-control
	font-size 18px
	// line-height 1.6em
	height 38px
	background none
	color white
	border none
	border-bottom 1px solid fade-out(white, 50%)
	// border-bottom 1px solid white
	border-radius 0
	padding 7px 2px
	margin-bottom 25px
	opacity 0.7
	transition 0.3s
	transform translate3d(0, 0, 0)
	// letter-spacing 1px
	&:focus
		box-shadow none
		border-color white
		opacity 1
	&::-webkit-input-placeholder
		color white
	&:-moz-placeholder
		color white
		opacity 1
	&::-moz-placeholder
		color white
		opacity 1
	&:-ms-input-placeholder
		color white

.btn-ghost
	background none
	border 1px solid white
	color white
	text-transform uppercase
	transition 0.3s
	&:hover, &.active, &:focus
		background white
		color black
		border-color white
		outline none
		box-shadow none

.form-group
	position relative

.form-icon
	position absolute
	display block
	height 38px
	line-height 38px
	top 0
	left 0
	opacity 0
	transition 0.3s
	transform translate3d(-30px, 0, 0)

.form-group-focus,
.form-group-filled
	.form-control
		padding-left 30px
		opacity 1
	.form-icon
		opacity 1
		transform translate3d(0, 0, 0)